.block1{
    background-color: red;
    position: relative;
    color: rgb(233, 253, 55);
}
.block2{
    background-color: greenyellow;
    position: relative;
    color: rgb(55, 164, 253);
}
.block3{
    background-color: blue;
    position: relative;
    color: rgb(192, 64, 252);
}
.block4{
    background-color: rgb(255, 126, 5);
    position: relative;
    color: rgb(42, 245, 160);
}
h1{
    font-family: 'Rubik Marker Hatch', cursive;
}
h2{
    font-family: 'Rubik Marker Hatch', cursive;
}
table,td,th{
    border: 2px solid rgb(6, 6, 7);
    border-collapse: collapse;
}
.Zagolovok1{
 background-color: tomato;
 width: 150px;
 color:white;
 text-align: center;
 position: absolute;
 right: 0px;
 bottom: 0px;
 margin-bottom: 0px;
 font-family: 'Anton', sans-serif;
} 
.Zagolovok2{
    background-color: rgb(21, 204, 31);
    width: 150px;
    color:white;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Anton', sans-serif;
}
.Zagolovok3{
    background-color: rgb(74, 71, 255);
    width: 150px;
    color:white;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Anton', sans-serif;
}
.Zagolovok4{
    background-color: rgb(255, 172, 95);
    width: 150px;
    color:white;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Anton', sans-serif;
}
.main {
    position: relative;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

    @media (min-width: 1200px) {
        .col-vlg-3 {
            width: 25%;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1199.99px) {
        .col-lg-4 {
            width: 33.33%;
        }
        .col-lg-12 {
            width: 100%;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991.99px) { 
        .col-md-6 {
            width: 50%;
        }
    }
    
    @media (max-width: 767.99px) {
        .main{
            flex-direction: column;
        }
        .col-sm-12 {
            width: 100%;
        }
    }
    
.variant{
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
